table {
  margin: 50px auto;
  background-color: yellow;
  padding: 20px;
  border-collapse: separate;
}

td {
  padding: 2px;
}

.space {
  height: 4em;
  width: 4em;
  background-color: white;
  border: solid 1px orange;
  border-radius: 1000px;
}