<h1>Welcome to Connect 4!</h1>

<table>

  <% @columnNo = 1 %>
  <% 7.times do  %>
    <%= erb :_header_space %>
    <% @columnNo += 1 %>
  <% end %>

  <% @rowNo = 7 %>
  <% 7.times do %>
    <%= erb :_row %>
    <% @rowNo -= 1 %>
  <%end %>
</table>

<div class='center'>
  <button class='reset'>Reset Board</button>
</div>